/* commonGeneralRules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Greta Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0 !important;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*  */
/* /commonGeneralRules */
