/* color_rules */
$color_heavenly: #0282f9;
$link_visa: #ffffff;
$menu_link_color: #464646;
$row_cards_background_color: #1C1C1C;
$footer_backgroundColor: #303030;
$comic_gallery_background_color: #00A9D9;
$green_background_color: #55BA59;
$price_comics: #BAF980;
$title_comics: #003F5E;
/* /color_rules */
